* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    position: sticky;
}

.highscore-style {
    display: flex;
    color: pink;
    font-size: 1.2vw;
    outline: none;
    background-color: cornflowerblue;
    
}

.highscore-style:hover {
    color: white;
    background-color: plum;
    outline: none;
    border-radius: 10px;
}
.timer-style {
    display: flex;
    color: black;
    font-size: 1.2vw;
}

.page-content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}

.display-text {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
    justify-content: center;
    margin: 20px;
}
.display-text h2 {
    font-size: 3vw;
    border-bottom: 4px solid plum;
}
.display-text p {
    margin: 40px 100px;
    font-size: 1.5vw;
}

.feedback-answer {
    color: slategrey;
    font-size: 1.5vw;
    padding: 20px 0;
    border-top: 4px solid plum;
}

.quiz-question-style {
    font-size: 3vw;
    color: black;
}
.answer-style {
    font-size: 1.8vw;
}

.answer-btn {
    background-color: plum;
    font-size: 1.8vw;
    border-radius: 10px;
    outline: none;
    width: fit-content;
    margin: 10px;
    padding: 10px;
}
.answer-btn:hover {
    color: white;
    background-color: plum;
    outline: none;
}